[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "dematel"]
	path = dematel
	url = https://github.com/cran/dematel
	shallow = true
	registered = true
